/*
  ========================================
  Custom Reset
  ========================================
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
  ========================================
  Tab Header
  ========================================
*/

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon,
md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon,
md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused,
md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
    color: #18BC9C !important;
}

md-tabs md-ink-bar {
    background-color: #2d3e50;
    color: #2d3e50;
}


/*
  ========================================
  Tab container
  ========================================
*/

.container {
    margin-top: 50px;
}
.dummy-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-container {
    border: 1px solid #DCDCDC;
}

.data-container {
    display: flex;
    flex-direction: row;
}

.data-image {
    display: flex;
    flex-direction: column;
}

.data-description {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.data-element {
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.5em;
    font-size: 14px;
}

b {
    letter-spacing: 1px;
}

.error {
  color: red;
  font-size: 0.8em;
}
