<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Pick My Solar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-secondary my-2 my-sm-0" data-target="#addArtist" data-toggle="modal">Search an Artist</button>
            </form>
        </div>
    </nav>
</header>
<div ng-if="!gotData">
    <div class="container dummy-container">
        <h3>No Artist Data Available. Please Click on the Search button above.</h3>
    </div>
</div>
<div class="container tab-container" ng-if="gotData">
    <md-tabs md-selected="selectedIndex" md-dynamic-height="true">
        <md-tab ng-repeat="tab in artistData | orderBy:predicate:reversed" md-on-select="onTabSelected(tab)" md-on-deselect="announceDeselected(tab)" ng-disabled="tab.disabled">
            <md-tab-label>
                {{tab.artistName}}
            </md-tab-label>
            <md-tab-body>
                <div class="container data-container">
                    <div class="data-image">
                        <img src="{{tabData.artworkUrl100}}" alt="artist image">
                    </div>
                    <div class="data-description">
                        <h3>{{tabData.artistName}}</h3>
                        <p><b>Collection Name:</b>&nbsp;<span class="data-element">{{tabData.collectionName}}</span></p>
                        <p><b>Collection Type:</b>&nbsp;<span class="data-element">{{tabData.wrapperType}}</span></p>
                        <p><b>Description:</b>&nbsp;<span class="data-element">{{tabData.description}}</span></p>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>


<div class="modal fade" id="addArtist" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SEARCH ARTIST</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label for="exampleInputArtist">Artist Name:</label>
                            <input type="text" class="form-control" id="exampleInputArtist" aria-describedby="artistHelp" placeholder="Enter Artist Name" ng-model="artistName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputLimit">Limit:</label>
                            <input type="number" class="form-control" id="exampleInputLimit" aria-describedby="limitHelp" placeholder="Enter Limit" ng-model="limit" required>
                            <small id="artistHelp" class="form-text text-muted" ng-show="(form.number.$dirty || submitted) && form.number.$error.required">Type the artist you want to search</small>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="getArtistData()">Get Data</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
